.oneimage {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.oneimage p {
    text-align: center;
}

.oneimage > section img {
    flex: 1 0 0;
    max-width: 50%;
}


.oneimage section {
    flex: 1 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 1%;
    max-height: 80vh;
}



.oneimage > section div {
    background-color: rgba(255, 255, 255, 0.1);
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5%;
    border-radius: 10px;
    height: max-content;
}

.oneimage > article {
    display: flex;
    align-items: center;
}

.oneimage > article > section {
    background-color: rgba(255, 255, 255, 0.1);
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 1%;
    border-radius: 10px;
}