aside input[type="text"] {
    background-color: gray;
    padding: 10px;
    border: 3px solid gray ;
    border-radius: 5px;
    width: 85%;
}

aside input:hover {
    border-color: red;
}

aside {
    background-color: rgba(0, 0, 0, 0.5);
    flex: 2 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1%;
    border-radius: 10px;
    border: 3px solid black;
}

aside > #depliant {
    background-color: rgba(255, 255, 255, 0.5);
    margin-left: auto;
    width: 20%;
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin-top: 40px;
}

aside > #allProject{
    width: 100%;
    max-height: 80vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    overflow-y: scroll;
}

aside > #allProject > div {
    background-color: rgba(255, 255, 255, 0.1);
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5%;
}

aside > #allProject p {
    text-align: center;
}

aside > #allProject > div:hover {
    background-color: rgba(255, 255, 255, 0.5);
}