body {
    background-color: burlywood;
    display: flex;
    margin: 0;
    border: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}


body > div {
    margin-top: 0.5%;
    display: flex;
    flex: 15 0 auto;
    align-items: center;
}


@media screen and (max-width: 100vh) {
    #me {
        display: none;
    }
    body > header {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 98%;
    }

    body > div {
        margin-top: 25%;
    }

    body > div > section > div {
        display: flex;
        flex-direction: column;
    }
}